@import "tailwindcss";

@layer utilities {
    .bg-grd {
        background-image: radial-gradient(
          circle,
          rgba(252, 107, 3) 0%,
          rgba(252, 78, 3, 0.3) 5%,
          rgba(252, 78, 3, 0.2) 15%,
          transparent 35%
        );
    }

    .bg-grd-sm {
        background-image: radial-gradient(
          circle,
          rgb(252, 107, 3) 0%,
          rgba(252, 78, 3, 0.3) 2.5%,
          rgba(252, 78, 3, 0.2) 15%,
          transparent 35%
        );
    }
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}